{% extends 'base.html' %}

{% block title %} {% endblock title %}
All Modules

{% block content %}
<table>
    <tr>
        <th>Module Code</th>
        <th>Module Name</th>
        <th>Academic Year</th>
        <th>Academic Semester</th>
        <th>Professors</th>
</tr>

    {% for module in modules %}
    <tr>
         <td> {{ module.module_code}} </td>
         <td> {{ module.name}} </td>
         <td> {{ module.year}} </td>
         <td> {{ module.semester}} </td>
            {% for p in module.professors.all %}
        <td> {{ p.professor_id}} {{ p.firstname}} {{ p.lastname}}</td> <!-- first was module.get_professors -->
            {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock content %}