<!DOCTYPE html>{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}
<table>
{% block content %}
    {% for p in professor%}
    {% for m in module %}
    <tr>
         <td> The rating of Professor {{p.firstname}} {{p.lastname}} ( {{p.professor_id}} )
             in module {{m.name}}  ( {{m.module_code}} ) is {{ average_rating}} </td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>
{% endblock content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>